<section id="faqContainer">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>What is AUDS?</h4>
      </mat-expansion-panel-header>
      <p>
        Aberdeen University Dance Society is the biggest and the most active society under Aberdeen University
        Students'
        Association.
      </p>
      <p>
        AUDS terms will run according to the University of Aberdeen term times, first term in September-December and
        second term January-April. We have almost 50 volunteers in AUDS teaching over 30 dance classes each week and
        organising amazing events, workshops and socials throughout the year!
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>Where can I purchase the AUDS membership?</h4>
      </mat-expansion-panel-header>
      <p>
        You can purchase your AUDS membership from the <a target="_blank" href="https://www.ausa.org.uk/societies/society/dance/">Aberdeen
          University Student Association website</a> (note that you will need to register on this page before being
        able
        to purchase your membership).
      </p>
      <p>
        Even if you are not a student at the University of Aberdeen, you can purchase your membership from the <a
          target="_blank" href="https://www.ausa.org.uk/societies/society/dance/">AUSA website</a>, just select the
        non-student
        membership from
        the options.
      </p>
      <p>
        Alternatively, you can also purchase your membership at the AUSA office in The Hub.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>How will I get the membership card?</h4>
      </mat-expansion-panel-header>
      <p>
        The membership cards are issued at the beginning of each term in the AUDS classes. We will inform our members,
        when the card issuing begins each time, and a member of the committee will be in each class to issue them.
      </p>
      <p>
        However, if you join AUDS after the card issuing has officially ended, please contact AUDS (either on <a target="_blank"
          href="https://www.facebook.com/AberdeenUniversityDanceSociety/?fref=ts">Facebook</a> or dance@abdn.ac.uk), so
        we can arrange for you to get a card.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>What is the AUDS refund policy?</h4>
      </mat-expansion-panel-header>
      <p>
        AUDS is only allowed to offer a refund due to medical reasons, would need to be provided with a medical
        certificate.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>Can I just pay separately for each class?</h4>
      </mat-expansion-panel-header>
      <p>
        Unfortunately we do not currently offer a pay by class system in order to attend classes a membership must be
        purchased.
      </p>
      <p>
        However, if you are interested of joining AUDS, please see the question ‘Can I try out the class before
        purchasing the membership?’ for instructions on how to book your free trial class.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>Can I try out the class before purchasing the membership?</h4>
      </mat-expansion-panel-header>
      <p>
        In the beginning of each term we have a free trial period, during which everyone is welcome to attend to as
        many
        classes as they would like.
      </p>
      <p>
        If you are considering purchasing the membership after the free trial period has ended, we can arrange one
        trial
        class for you! In this case, please contact AUDS via email (dance@abdn.ac.uk) to book your free trial class.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>What should I wear for the class?</h4>
      </mat-expansion-panel-header>
      <p>
        This depends on the class. Overall, you will need clothing you feel comfortable dancing in. We highly suggest
        stretchy or loose clothing which would not cause trouble when dancing.
      </p>
      <p>
        In some classes, such as in commercial and streetdance, trainers are recommended. For our latin and ballroom
        classes, shoes or dancing heels are recommended, but not necessary. For other classes (such as jazz and
        contemporary), the bare feet is the best and the safest option.
      </p>
      <p>
        Please note, that if you wear shoes to the class, please do not wear shoes that you wear outside, as we need to
        keep our floors clean!
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>How can I get the latest updates about my class?</h4>
      </mat-expansion-panel-header>
      <p>
        Every tutor has a Facebook group for their class, where they will post about updates, essential information or
        possible class changes. You can find these groups <a href="https://www.facebook.com/pg/AberdeenUniversityDanceSociety/groups/?ref=page_internal"
          target="_blank">Here</a>.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>I have many years of dance experience and I would be interested to teach a class in AUDS. Who should I
          contact?</h4>
      </mat-expansion-panel-header>
      <p>
        Please contact AUDS via email dance@abdn.ac.uk, so that we can arrange an audition.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>I am planning an event, where I would like to invite AUDS to perform. Who should I contact?</h4>
      </mat-expansion-panel-header>
      <p>
        Our AUDS dancers perform in many events throughout the academic year, and we have many different styles, such
        as
        salsa and other latin styles, jazz, contemporary, streetdance, bellydance, and highland dancing, and you can
        book
        us to perform and/or to teach a workshop in your event.
      </p>
      <p>
        Please contact AUDS via email dance@abdn.ac.uk if you are interested of having AUDS perform at your event.
        Please
        also specify which dance style and the performance time length you would prefer.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4>Where are the dance classes held?</h4>
      </mat-expansion-panel-header>
      <p>
        All classes are held in or around Aberdeen University campus. For a specific class location please see <a
          routerLink="/timetable">Timetable</a>
      </p>
    </mat-expansion-panel>

  </mat-accordion>

</section>
