<div id="timetableContainer" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign.xs="space-aligh none" fxLayoutAlign="start">

  <div fxFlex style="text-align: center">
    <h3>Second Term Timetable</h3>
  </div>

  <div fxFlex="100">
    <form fxLayout="row wrap" fxLayoutGap="15px" autocomplete="off">
      <mat-form-field fxFlex>
        <mat-select (selectionChange)="filterByDay($event)" placeholder="Filter by Day">
          <mat-option value="">Show All</mat-option>
          <mat-option value="Monday">Monday</mat-option>
          <mat-option value="Tuesday">Tuesday</mat-option>
          <mat-option value="Wednesday">Wednesday</mat-option>
          <mat-option value="Thursday">Thursday</mat-option>
          <mat-option value="Friday">Friday</mat-option>
          <mat-option value="Saturday">Saturday</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput type="search" (keyup)="onKeySearch($event)" (ngValue)="searchBy" placeholder="Search by Style">
      </mat-form-field>
    </form>
  </div>

  <mat-card class="class-card golden" *ngFor="let class of classesToDisplay | filterByDay:byDay | searchByStyle:searchBy"
    fxFlex.xs="1 1 calc(100%-30px)" fxFlex.sm="1 1 calc(50%-30px)" fxFlex="2 1 calc(25%-30px)">
    <mat-card-header>
      <mat-card-title>
        <h4>{{class.style}}</h4>
      </mat-card-title>
      <mat-card-subtitle>{{class.level}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{class.day}}</p>
      <p>{{class.time}}</p>
      <p>{{class.venue}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="{{class.link}}" target="_blank">JOIN GROUP</a>
    </mat-card-actions>
  </mat-card>
</div>
