/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.golden {
  background-color: #ffd740;
}

.golden-text {
  color: #ffd740;
}